<nav id="navbar-container">
    <div class="button" id="menu">
        <div class="ripple" id="menu"></div>
    </div>
    <div class="button" id="settings">
        <div class="ripple" id="settings"></div>
    </div>
    <div id="search-bar">
        <%= image_tag('messenger/buttons/search_white.svg', :id => 'search-icon') %>
        <h4>Search for people and groups</h4>
    </div>
    <div id="conversation-title"></div>
    <div class="button" id="compose">
        <div class="ripple" id="compose"></div>
    </div>
    <div class="button" id="about">
        <div class="ripple" id="about"></div>
    </div>
</nav>
<menu>
    <ul>
        <li id="signup-link">
            <em>Sign Up!</em>
        </li>
        <li id="login-link">
            <em>Log In</em>
        </li>
        <li>
            <em>Log Out</em>
        </li>
        <li>
            <%= image_tag('messenger/profile-pictures/marylin.jpeg') %>
            <em>Marylin Monroe</em>
        </li>
        <li>
            <em>Person2 LastName</em>
        </li>
        <li>
            <em>Person3 LastName</em>
        </li>
    </ul>
</menu>
<div id="signup-forum">
    <%= image_tag('messenger/buttons/close_black.svg', :id => 'close') %><span id="closing-shroud"></span>
    <%= form_for(:messenger, :url => {:action => 'create'}) do |usr| %>
    <%= render(:partial => 'new', :locals => { :usr => usr }) %>
    <% end %>
</div>
<div id="login-forum">
    <%= render(:partial => 'login') %>
</div>
